<script setup>
import { ref, inject } from 'vue'
import { sampleToken } from '../Tokens.js'

defineProps({
  msg: String
})

const user = inject('user')

const count = ref(0)

const response = await fetch("https://yesno.wtf/api")
// const yesno = await response.json()

// Add artificial delay below so "template #fallback" loading messages can be seen
const wait = (ms, value) => {
  return new Promise(resolve => setTimeout(resolve, ms, value))
}

function randomIntFromInterval(min, max) { // min and max included 
  return Math.floor(Math.random() * (max - min + 1) + min)
}

const yesno = await wait(randomIntFromInterval(1000, 3000), response.json())

</script>

<template>
  <div class="myStyle2">
    <h1>HelloWorld22</h1>
    <h2>{{ msg }}</h2>
    <button type="button" @click="count++">count is: {{ count }}</button>
    <hr><slot>Default slot value </slot>
    <hr>User: {{user}}
    <h2>{{ msg }}</h2>

    <h2>YOUR ANSWER: {{ yesno.answer }}</h2>

  </div>
</template>

<style scoped>
a {
  color: #ff0000;
}

.myStyle2 {
  background-color: #ebe;
  margin: 20px;
  padding: 20px;
}
</style>
