<script setup>
import { ref } from 'vue'

const todos = ref( [
  { text: 'Todo 1' },
  { text: 'Todo 2' },
  { text: 'Todo 3' }
] )

const props = defineProps({
  msg: String,
  title: String,
  subtitle: String
})

const emits = defineEmits(
  ['addItem']
)

function addTodo() {
  todos.value.push({ text: `Todo ${todos.value.length + 1}` })
}

const count = ref(0)

</script>

<template>

<div class="myStyle">
  <h1>HelloWorld</h1>

  <h2>{{ title }}</h2>

  <h3>{{ subtitle }}</h3>

  <h4>{{ msg }}</h4>

  <button @click="addTodo">Add Todo</button> 

  <ul>
    <li v-for="(todo, index) in todos">
      {{ todo.text }}
    </li>
  </ul>

  <button type="button" @click="count++">Increment count</button>
  <br>
  Count is {{ count }}
  
  <br><br>
  Icons:
  <br>
  <icon-mdi-light:home style="color: red"/>
  <icon-fa-beer style="color: green"/>
  <icon-pixelarticons:5g style="color: blue"/>

  <br><br>
  <button @click="$emit('addItem')">Add new component</button>
  <hr><slot>Default slot value</slot>

  <Suspense>
      <template #default>
          <HelloWorld2 :key="22" :title="title" :subtitle="subtitle" msg="Message from NESTED HelloWorld2 attribute"/>
      </template>
      <template #fallback>
          <h1>Loading NESTED HelloWorld2...</h1>
      </template>
  </Suspense>

</div>

</template>

<style scoped>
a {
  color: #42b983;
}

.myStyle {
  background-color: #eee;
  margin: 20px;
  padding: 20px;
}

</style>
