<script setup>
// import { ref, inject } from 'vue'
// import { sampleToken } from '../Tokens.js'

// defineProps({
//   msg: String
// })

// const user = inject('user')

// const count = ref(0)

// const response = await fetch("https://yesno.wtf/api")
// // const yesno = await response.json()

// // Add artificial delay below so "template #fallback" loading messages can be seen
// const wait = (ms, value) => {
//   return new Promise(resolve => setTimeout(resolve, ms, value))
// }

// // function randomIntFromInterval(min, max) { // min and max included 
// //   return Math.floor(Math.random() * (max - min + 1) + min)
// // }

// const yesno = await wait(500, response.json())

</script>

<template>
  <div class="myStyle3">
    <h1>LOADING</h1>
  </div>
</template>

<style scoped>
.myStyle3 {
  background-color: #449;
  margin: 20px;
  padding: 20px;
}
</style>
