<script setup>

import { ref, computed, provide, shallowRef, onErrorCaptured, defineAsyncComponent } from 'vue'

import { sampleToken } from './Tokens.js'

// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup

const error = ref(null)
onErrorCaptured(() => {
    error.value = "Ohh! Something went wrong!"
})

// import HelloWorld from './components/HelloWorld.vue'
import LoadingComponent from './components/Loading.vue'

// import HelloWorld2 from './components/HelloWorld2.vue'
// const HelloWorld2 = defineAsyncComponent(() =>
//   import('./components/HelloWorld2.vue')
// )

const HelloWorld2 = defineAsyncComponent({
  loader: () => import('./components/HelloWorld2.vue'),
  loadingComponent: LoadingComponent,
  delay: 2000
})

const HelloWorld = defineAsyncComponent({
  loader: () => import('./components/HelloWorld.vue'),
  loadingComponent: LoadingComponent,
  delay: 2000
})


const items = ref([
  { id: 1, title: 'Title 1', subtitle: 'Subtitle 1' },
  { id: 2, title: 'Title 2', subtitle: 'Subtitle 2'  },
  { id: 3, title: 'Title 3', subtitle: 'Subtitle 3'  },
  { id: 4, title: 'Title 4', subtitle: 'Subtitle 4'  }
])

var user = ref('John Doe')

function onAddItem() {
  items.value.push({ id: items.value.length + 1, title: `Title ${items.value.length + 1}`, subtitle: `Subtitle ${items.value.length + 1}`  })
}

provide('user', user)

const helloWorld = shallowRef(HelloWorld)
const helloWorld2 = shallowRef(HelloWorld2)

const tabs = ref([
  {id: 0, label: "HelloWorld", component: helloWorld},
  {id: 1, label: "HelloWorld2", component: helloWorld2},
  {id: 2, label: "HelloWorld", component: helloWorld},
  {id: 3, label: "HelloWorld2", component: helloWorld2}
])

const currentTab = ref(tabs.value[0])

const stuff = { sampleToken: "This value is referenced via a const Symbol key" }

</script>

<template>
    <div v-if="error">{{ error }}</div>
    <Suspense v-else>
        <template #default>
            <HelloWorld2 :key="22" msg="Message from NESTED HelloWorld2 attribute"/>
        </template>
        <template #fallback>
            <h1>Loading...</h1>
        </template>
    </Suspense>

    Token test: {{ stuff.sampleToken }}

    <pre>currentTab: {{currentTab.label}}</pre>

    <button
      v-for="tab in tabs"
      v-bind:key="tab.id"
      @click="currentTab = tab"
    >
      {{ tab.label }}
    </button>

    <hr>
    currentTab: {{currentTab.label}}
    <Suspense>
        <template #default>
          <component :is="currentTab.component" :msg="currentTab.label">A slot message {{currentTab.label}}</component>
        </template>
        <template #fallback>
            <h1>Loading...</h1>
        </template>
    </Suspense>

    <hr><img alt="Vue logo" src="./assets/logo.png" />
    
    <HelloWorld v-for="item in items" :key="item.id" :title="item.title" :subtitle="item.subtitle" msg="Message from HelloWorld attribute" @addItem="onAddItem()"/>

    <Suspense>
       <template #default>
          <HelloWorld2 v-for="item in items" :key="item.id" :title="item.title" :subtitle="item.subtitle" msg="Message from HelloWorld2 attribute"/> 
       </template>
       <template #fallback>
          <h1>Loading...</h1>
       </template>

    </Suspense>

</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
